// Variables

//color del footer etc
@brand-primary: #f8f8f8;

//color azul de las secciones con la clase succes
@brand-success: #58A3BC;

//Color del link estado hover
@brand-link: blue;

@gray-lighter: lighten(#000, 93.5%);
@remark: violet;