// Variables

//Color morado claro fondo
@body-bg:               #CDC1EE;

//color azul cabecera
@brand-cab: #8BB1D9;

//color morado de la seccion con la clase conoc
@brand-conoc: #7457C7;

//color verde de la seccion con la clase join
//color del link estado hover
@brand-join: #9DE5B3;
@brand-joinc: #BDF1CD;

//color azul claro de la seccion con la clase cont
@brand-cont: #BDD4EC;

//color azul oscuro del pie
@brand-pie: #2D5C8D;



@gray-lighter: lighten(#000, 93.5%);
@remark: ABF1C0;

//color del footer etc
@brand-primary: #f8f8f8;

@font-family-sans-serif:  "Khand", Verdana, Arial, sans-serif;

@font-family-base:        @font-family-sans-serif;

@font-family-tit: 		  "Denk One", Verdana, Arial, sans-serif;

@font-size-base:          18px;







